<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">

<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            
<title>ACESS PLATAFORM</title>
<style type="text/css">
	input[type=submit]{
		color: white;
		font-weight: 500;
	}
	form{
		margin-left: 35%;
		margin-top: 10%;
	}
	.col .row{
		margin-right: 0rem;
	}
	h5{
		margin: 0 auto;
	}
	#pl{
		font-size: 25px;
		font-weight: bold;
		text-shadow: 2px 4px #eee;
		color: #12756b;
	}

	
</style>
</head>
<body>

	<form th:action="@{/login}" method="post" class="col s12">
		<div class="row">
			<div  class="input-field col s6 center ">
				<div id="pl">ACESSO A PLATAFORMA WEB</div>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<label for="username" class="active" style="margin-left: 10px;">Login</label>
				<input type="text" name="username" id="username" style="border-radius: 7px;" >
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6  ">
				<label for="password" class="active" style="margin-left: 10px;">Password</label>
				<input type="password" name="password" id="password" style="border-radius: 7px;">
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6 ">
				<div class="right">
				<input type="submit" name="acesso" value="ACESSAR" class="waves-effected waves-light btn z-depth-4 ">
				</div>
			</div>
		</div>
	</form>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>